footer {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    align-items: center;
}

footer img {
    margin-right: 1rem;
}

.created_by {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.created_by a {
    color: #fff;
    text-decoration: none;
}

/* mobile */

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        margin-bottom: 1rem;
        text-align: center;
    }

    footer img {
        margin-bottom: 1rem;
    }
}